* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

header {
    background-color: #1F2937;
    display: flex;
    padding: 10px;
    gap: 25px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    font-size: 18px;
    color: #6d747d;
    align-items: flex-end;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
}