* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Roboto;
}

header, .hero {
    background-color: #1F2937;
    padding: 30px 50px
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #6d747d;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

